<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TodoList</title>

	<link rel="stylesheet" href="/css/todos.css">

	<script type="text/javascript" src="/js/todos.js"></script>
</head>
<body id="todoListApp">
	<h1>My List</h1>

	<ul id="incomplete">

		<!-- LOOP through database -->
		<% 
			if ( todoList.length ) { 
				for ( let i = 0; i < todoList.length; i++ ) {
					if ( todoList[i].complete ) {
						continue;
					}
		%>
		<li id="todo-<%= todoList[i].id %>">
			<a href="/todo/<%= todoList[i].id %>" title="Mark this item as complete!"><%= todoList[i].name %></a>
		</li>
		<% 
				}
			} 
		%>
		<li><form action="/" method="post"><input type="text" id="todo" name="todo" size="30" autocomplete=""></form></li>
	</ul>

	<h3>Completed</h3>
	<ul id="complete">
		<!-- LOOP through database -->
		<% 
			if ( todoList.length ) { 
				for ( let i = 0; i < todoList.length; i++ ) {
					if ( todoList[i].complete == 0 ) {
						continue;
					}
		%>
		<li id="todo-<%= todoList[i].id %>">
			<a href="/delete/<%= todoList[i].id %>">
				<img src="https://img.icons8.com/material-outlined/24/000000/trash--v1.png" style="height:14px;"/>
			</a>	
			<strike>
				<a href="/todo/<%= todoList[i].id %>/markIncomplete" title="Mark this item as incomplete!"><%= todoList[i].name %></a>
			</strike>
		</li>
		<% 
				}
			} 
		%>
	</ul>
</body>
</html>